.project-page .project-header {
  display: flex;
  align-items: center;
  margin-block: 24px;
  justify-content: space-between;
}

.project-page .project .project-header > div {
  display: flex;
  align-items: center;
}

.project-page .project-header .project-state {
  margin-left: 24px;
  padding: 2px 12px;
  border-radius: 16px;
}

.project-page .project-header .not-started {
  background-color: rgba(245, 0, 45, 0.25);
}

.project-page .project-header .in-progress {
  background-color: rgba(245, 120, 45, 0.25);
}

.project-page .project-header .completed {
  background-color: rgba(0, 200, 120, 0.25);
}

.project-page .project-header .state {
  display: inline-block;
  width: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  margin-right: 4px;
}

.project-page .project-header .not-started-state {
  background-color: rgb(245, 0, 45);
}

.project-page .project-header .in-progress-state {
  background-color: rgb(245, 120, 45);
}

.project-page .project-header .completed-state {
  background-color: rgb(0, 200, 120);
}

.project-page .loading-project,
.project-page .project-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  font-size: 16px;
}

.project-page .project > .project-header > .right .project-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.project-page .project > .project-header > .right button {
  border: 1px solid var(--primary-color);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px;
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition:
    background 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.project-page .project > .project-header > .right button:hover {
  background-color: rgb(235, 235, 235);
  transform: scale(0.98);
}

.project-page .project > .project-header > .right button > span {
  margin-left: 8px;
}

.project-page .project > .project-body span {
  display: inline-block;
  margin-top: 16px;
}

.project-page .project .project-description {
  margin-top: 4px;
  background-color: var(--accent-color);
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.project-page .project .links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  color: var(--primary-color);
  transition: transform 250ms ease-in-out;
  margin-left: 8px;
}

.project-page .project .links a:hover {
  transform: translateX(-8px);
}

.project-page .project .links a > span {
  margin-left: 8px;
}

.project-page .project .project-body > .project-info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.project-page .project .project-body > .project-info .left {
  display: flex;
  gap: 16px;
}

.project-page .project .project-header .project-title {
  display: flex;
  align-items: center;
}

.project-page .project .project-header .project-icon {
  margin-right: 8px;
}

.project-page .project .project-body > div:not(.project-info) {
  position: relative;
}

.project-page
  .project
  .project-body
  > div:not(.project-info)
  .edit-description-button {
  position: absolute;
  top: 12px;
  right: 8px;
  border: 1px solid var(--primary-color);
  padding: 2px 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.project-page
  .project
  .project-body
  > div:not(.project-info):hover
  .edit-description-button {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.project-page
  .project
  .project-body
  > div:not(.project-info)
  .edit-description-button:hover {
  transform: scale(0.98);
}

.project-page .project .project-body .editing-description {
  margin-top: 4px;
  display: flex;
}

.project-page
  .project
  .project-body
  .editing-description
  > .edit-description-input {
  padding: 8px 16px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 90%;
}

.project-page .project .project-body .editing-description > .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.project-page .project .project-body .editing-description > .buttons > input {
  padding: 4px 8px;
  height: 80%;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.project-page
  .project
  .project-body
  .editing-description
  > .buttons
  > input:hover {
  transform: scale(0.99);
}

.project-page .project .project-tasks-title {
  display: flex;
  align-items: center;
}

.project-page .project .project-tasks-title svg {
  margin-right: 8px;
}

.project-page .project .project-tasks-section {
  margin: 16px;
}

.project-page .project .project-tasks-section > .tasks {
  display: grid;
  gap: 8px;
}

.project-page .project .project-tasks-section .task {
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.project-page .project .project-tasks-section .task > div {
  display: flex;
  align-items: center;
}

.project-page .project .task .task-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.project-page .project .task .task-properties {
  font-size: 14px;
  display: flex;
  gap: 16px;
}

.project-page .project .task .task-properties .task-assignee {
  display: flex;
}

.project-page .project .task .task-properties .task-state {
  display: flex;
}

.project-page .task .task-properties .value {
  margin-left: 8px;
  padding-inline: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.project-page .project .task .to-do-state {
  background-color: rgba(245, 0, 45, 0.25);
}

.project-page .project .task .doing-state {
  background-color: rgba(65, 145, 245, 0.25);
}

.project-page .project .task .done-state {
  background-color: rgba(0, 200, 120, 0.25);
}

.project-page .project .task .task-state > .value > span {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  margin-right: 4px;
}

.project-page .project .task .task-state .to-do {
  background-color: rgb(245, 0, 45);
}

.project-page .project .task .task-state .doing {
  background-color: rgb(45, 160, 245);
}

.project-page .project .task .task-state .done {
  background-color: rgb(0, 200, 120);
}

.project-page .project .task .open-task {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 125ms ease-in-out;
}

.project-page .project .task .open-task.visible {
  opacity: 1;
}

.project-page .project .task .open-task .open-button {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out,
    background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.project-page .project .task .open-task .open-button:hover {
  transform: scale(0.98);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.project-page .project .task .visible .open-button {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
