.projects-page .projects.list .project > div:not(.open-project) {
  display: flex;
  align-items: center;
}

.projects-page .projects.list .project > .left .project-name {
  margin-left: 8px;
}

.projects-page .projects.list .project > .right {
  width: fit-content;
}

.projects-page .projects.list .project .project-properties {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 8px;
  font-size: 14px;
}
