.projects-page .projects.list .project > div:not(.open-project) {
  display: flex;
  align-items: center;
}

.projects-page .projects.list .project > .left .project-name {
  margin-left: 8px;
}

.projects-page .projects.list .project .project-properties {
  display: grid;
  grid-template-columns: 150px 180px 180px;
  gap: 8px;
}
