.new-project-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.25);
}

.new-project-popup.dark {
  background-color: rgba(45, 45, 45, .5)
}

.new-project-popup .new-project {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-color: white;
  padding: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.new-project-popup.dark .new-project {
  background-color: rgb(35, 35, 35);
  color: rgb(225, 225, 225);
}

.new-project-popup .open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.new-project-popup .new-project > div {
  display: grid;
}

.new-project-popup .new-project > div > input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.new-project-popup .new-project > div > textarea {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.new-project-popup.dark .new-project > div > input, 
.new-project-popup.dark .new-project > div > textarea {
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(225, 225, 225);
  color: rgb(225, 225, 225);
}

.new-project-popup.dark .new-project > div > input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.new-project-popup .new-project > .create-project {
  margin: 8px auto;
  background-color: var(--primary-color);
  padding: 4px 24px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.new-project-popup.dark .new-project > .create-project {
  background-color: var(--primary-color-dark);
}

.new-project-popup .new-project > .create-project:hover {
  background-color: var(--primary-color-hover);
}

.new-project-popup.dark .new-project > .create-project:hover {
  background-color: var(--primary-color-dark-hover);
}

.new-project-popup .new-project > .create-project.error {
  background-color: rgb(245, 0, 45);
}

.new-project-popup .new-project > .close-popup {
  width: fit-content;
  border: none;
  background: none;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.new-project-popup .new-project > .title {
  text-align: center;
}

.new-project-popup .new-project .wrong-deadline-message {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  color: rgb(245, 0, 45);
  font-style: italic;
  font-size: 12px;
  transition: all 50ms ease-in-out;
}

.new-project-popup .new-project .wrong-deadline-message.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}