.overview-section {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overview {
  font-size: 24px;
  width: 510px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
  width: 800px;
  height: 400px;
  background-color: darkgray;
  border-radius: 16px;
}

.overview .signup-button {
  font-size: 20px;
  width: 248px;
  height: 60px;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}