.tasks-page.dark {
  background-color: rgb(35, 35, 35);
}

.tasks-page.dark .container {
  height: 88vh;
}

.tasks-page .tasks.list > .task {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  padding: 16px 24px;
  border-radius: 10px;
  margin-block: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.tasks-page .tasks.list > .task > .left {
  display: flex;
  align-items: center;
}

.tasks-page .tasks.list > .task:hover {
  transform: scale(1.025);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
}

.tasks-page.dark .tasks > .task:hover {
  box-shadow: 4px 4px 8px rgba(245, 245, 245, .25);
}

.tasks-page .tasks.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.tasks-page .tasks.grid > .task,
.tasks-page .kanban-board .task {
  height: 180px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  padding: 16px;
  transition: transform 250ms ease-in-out;
  position: relative;
}

.tasks-page.dark .kanban-board .task {
  color: rgb(225, 225, 225);
}

.tasks-page .tasks.grid > .task:hover,
.tasks-page .kanban-board .task:hover {
  transform: scale(1.05) rotate(-0.5deg);
}

.tasks-page .tasks > .task:nth-child(odd),
.tasks-page .kanban-board .kanban-column > .task:nth-child(odd) {
  background-color: var(--accent-color);
}

.tasks-page .tasks > .task:nth-child(even),
.tasks-page .kanban-board .kanban-column > .task:nth-child(even) {
  background-color: var(--secondary-color);
}

.tasks-page.dark .tasks > .task,
.tasks-page.dark .kanban-board .task {
  color: rgb(225, 225, 225);
  box-shadow: 2px 2px 4px rgba(245, 245, 245, .25);
}

.tasks-page.dark .tasks > .task:nth-child(odd),
.tasks-page.dark .kanban-board .task:nth-child(odd) {
  background-color: rgb(45, 45, 45);
  border: 2px solid var(--secondary-color-dark);
}

.tasks-page.dark .tasks > .task:nth-child(even),
.tasks-page.dark .kanban-board .task:nth-child(even) {
  background-color: rgb(65, 65, 65);
  border: 2px solid var(--secondary-color-dark);
}

.tasks-page .tasks > .task .properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
}

.tasks-page .tasks > .task .properties > div {
  display: flex;
  margin-left: 24px;
}

.tasks-page .tasks.list .task .properties > div {
  margin-left: 32px;
}

.tasks-page .tasks > .task > .open-task,
.tasks-page .kanban-board .task > .open-task {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: background 250ms ease-in-out;
  background-color: rgba(0, 0, 0, .25);
}

.tasks-page .tasks > .task:hover .open-task,
.tasks-page .kanban-board .task:hover .open-task {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.1);
}

.tasks-page.dark .tasks > .task:hover .open-task,
.tasks-page.dark .kanban-board .task:hover .open-task {
  background-color: rgba(245, 245, 245, .1);
}

.tasks-page .tasks > .task > .open-task > .open,
.tasks-page .kanban-board .task > .open-task > .open {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out,
    background 250ms ease-in-out;
  background-color: var(--primary-color);
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.tasks-page .tasks > .task > .open-task > .open:hover,
.tasks-page .kanban-board .task > .open-task > .open:hover {
  background-color: var(--primary-color-hover);
}

.tasks-page .tasks.list > .task > .open-task > .visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.tasks-page .tasks.grid > .task .open-task > .visible,
.tasks-page .kanban-board .task .open-task > .visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1) rotate(0.5deg);
}

.tasks-page .tasks > .task > .task-actions,
.tasks-page .kanban-board .task > .task-actions {
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  gap: 4px;
}

.tasks-page .tasks > .task > .task-actions button,
.tasks-page .kanban-board .task > .task-actions button {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--primary-color); */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out,
    width 2500ms ease-in-out;
  /* width: 28px;
  aspect-ratio: 1 / 1; */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.tasks-page.dark .tasks > .task > .task-actions button,
.tasks-page.dark .kanban-board .task > .task-actions button {
  background-color: rgb(35, 35, 35);
  box-shadow: 1px 1px 4px rgba(245, 245, 245, .25);
}

.tasks-page .tasks > .task > .task-actions .start-task,
.tasks-page .kanban-board .task > .task-actions .start-task {
  padding: 2px;
}

.tasks-page .tasks > .task > .task-actions .complete-task,
.tasks-page .kanban-board .task > .task-actions .complete-task {
  padding: 1px;
}

.tasks-page .tasks > .task > .task-actions .reset-task,
.tasks-page .kanban-board .task > .task-actions .reset-task {
  padding: 2px;
}

.tasks-page .tasks > .task:hover button,
.tasks-page .kanban-board .task:hover button {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.tasks-page .tasks > .task:hover button:hover,
.tasks-page .kanban-board .task:hover button:hover {
  transform: scale(0.98);
  background-color: rgb(245, 245, 245);
}

.tasks-page.dark .tasks > .task:hover button:hover,
.tasks-page.dark .kanban-board .task:hover button:hover {
  background-color: rgb(45, 45, 45);
}

.tasks-page .tasks > .task .properties > div > div:nth-child(2) {
  margin-left: 8px;
}

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.tasks-page.dark .no-tasks {
  color: rgb(225, 225, 225);  
}

.tasks-page .tasks.list > .task .updated {
  position: absolute;
  font-size: 11px;
  width: fit-content;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.tasks-page .tasks.grid > .task .updated,
.tasks-page .kanban-board .task .updated {
  position: absolute;
  font-size: 11px;
  width: fit-content;
  bottom: 4px;
  right: 16px;
}

.tasks-page .tasks .task .status .property-value {
  padding: 0 8px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.tasks-page .tasks .task .status .to-do-state {
  background-color: rgb(245, 160, 180);
}

.tasks-page.dark .tasks .task .status .to-do-state {
  background-color: rgb(215, 145, 160);
  color: rgb(25, 25, 25);
}

.tasks-page .tasks .task .status .doing-state {
  background-color: rgb(120, 200, 245);
}

.tasks-page.dark .tasks .task .status .doing-state {
  background-color: rgb(100, 185, 225);
  color: rgb(25, 25, 25);
}

.tasks-page .tasks .task .status .done-state {
  background-color: rgb(80, 245, 165);
}

.tasks-page.dark .tasks .task .status .done-state {
  background-color: rgb(65, 225, 145);
  color: rgb(25, 25, 25);
}

.tasks-page .tasks .task .status .state {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1 / 1;
  margin-right: 4px;
  border-radius: 4px;
}

.tasks-page .tasks .task .status .to-do {
  background-color: rgb(245, 0, 45);
}

.tasks-page .tasks .task .status .doing {
  background-color: rgb(45, 160, 225);
}

.tasks-page .tasks .task .status .done {
  background-color: rgb(0, 200, 120);
}

.tasks-page .tasks .kanban-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.tasks-page .tasks .kanban-board .kanban-column {
  padding: 16px;
  border-radius: 20px;
  display: grid;
  gap: 16px;
  height: fit-content;
}

.tasks-page .tasks .kanban-board .todo {
  background-color: rgba(245, 0, 45, 0.2);
}

.tasks-page.dark .tasks .kanban-board .todo {
  background-color: rgba(245, 0, 45, 0.45);
}

.tasks-page .tasks .kanban-board .doing {
  background-color: rgba(45, 160, 225, 0.2);
}

.tasks-page.dark .tasks .kanban-board .doing {
  background-color: rgba(45, 160, 225, 0.45);
}

.tasks-page .tasks .kanban-board .done {
  background-color: rgba(0, 200, 120, 0.2);
}

.tasks-page.dark .tasks .kanban-board .done {
  background-color: rgba(0, 200, 120, 0.45);
}

.tasks-page .tasks .kanban-board .high {
  background-color: rgba(245, 0, 45, 0.2);
}

.tasks-page.dark .tasks .kanban-board .high {
  background-color: rgba(245, 0, 45, 0.45);
}

.tasks-page .tasks .kanban-board .medium {
  background-color: rgba(245, 120, 0, 0.2);
}

.tasks-page.dark .tasks .kanban-board .medium {
  background-color: rgba(245, 120, 0, 0.45);
}

.tasks-page .tasks .kanban-board .low {
  background-color: rgba(45, 160, 225, 0.2);
}

.tasks-page.dark .tasks .kanban-board .low {
  background-color: rgba(45, 160, 225, 0.45);
}

.tasks-page .tasks .kanban-board .column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
  width: 88%;
  margin-inline: auto;
  border-radius: 8px;
  color: white;
  margin-top: 12px;
  position: relative;
}

.tasks-page .tasks .kanban-board .column-header .tasks-count {
  position: absolute;
  right: 12px;
  width: 40px;
  height: 60%;
  background-color: white;
  color: black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.tasks-page .tasks .kanban-board .kanban-column > div:last-child {
  margin-bottom: 12px;
}

.tasks-page .tasks .kanban-board .todo > div:nth-child(1) {
  background-color: rgb(245, 20, 65);
}

.tasks-page.dark .tasks .kanban-board .todo > div:nth-child(1) {
  background-color: rgb(225, 10, 50);
}

.tasks-page .tasks .kanban-board .doing > div:nth-child(1) {
  background-color: rgb(45, 160, 225);
}

.tasks-page.dark .tasks .kanban-board .doing > div:nth-child(1) {
  background-color: rgb(40, 145, 200);
}

.tasks-page .tasks .kanban-board .done > div:nth-child(1) {
  background-color: rgb(0, 200, 120);
}

.tasks-page.dark .tasks .kanban-board .done > div:nth-child(1) {
  background-color: rgb(0, 185, 110);
}

.tasks-page .tasks .kanban-board .high > div:nth-child(1) {
  background-color: rgb(245, 20, 65);
}

.tasks-page.dark .tasks .kanban-board .high > div:nth-child(1) {
  background-color: rgb(235, 5, 50);
}

.tasks-page .tasks .kanban-board .medium > div:nth-child(1) {
  background-color: rgb(245, 120, 0);
}

.tasks-page.dark .tasks .kanban-board .medium > div:nth-child(1) {
  background-color: rgb(230, 110, 0);
}

.tasks-page .tasks .kanban-board .low > div:nth-child(1) {
  background-color: rgb(45, 160, 225);
}

.tasks-page.dark .tasks .kanban-board .low > div:nth-child(1) {
  background-color: rgb(35, 145, 210);
}

.tasks-page .tasks .kanban-board .kanban-card {
  width: 88%;
  margin-inline: auto;
}
