.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition:
    visibility 250ms ease-in-out,
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.signup-page.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.signup-page .title {
  font-size: 44px;
  margin-block: 40px;
}

.signup-page .signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 1000px;
  /* height: 600px; */
  padding-block: 48px;
}

.signup-page .signup-section > .signup-title {
  font-size: 32px;
  margin-block: 16px;
}

.signup-page .signup-section form {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
}

.signup-page .signup-section form > div:not(.links) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.signup-page .signup-section form > div > div {
  display: grid;
  margin-block: 8px;
}

.signup-section form div > input {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins";
  margin-top: 4px;
}

.signup-section form .signup-button {
  width: 24%;
  margin-top: 40px;
  margin-inline: auto;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 60px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.signup-section form .signup-button:hover {
  background-color: var(--primary-color-hover);
}

.signup-section form .links {
  display: flex;
  font-size: 12px;
  margin-inline: auto;
  margin-top: 16px;
}

.signup-section form .links a {
  margin-left: 8px;
}

.signup-page .confirm-popup {
  position: absolute;
  padding: 16px;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.signup-page .confirm-popup .buttons {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.signup-page .confirm-popup .buttons > button {
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 24px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition:
    transform 250ms ease-in-out,
    background 250ms ease-in-out;
}

.signup-page .confirm-popup .buttons > button:hover {
  transform: scale(0.98);
}

.signup-page .confirm-popup .buttons > .confirm {
  background-color: rgb(0, 180, 45);
}

.signup-page .confirm-popup .buttons > .confirm:hover {
  background-color: rgb(0, 160, 40);
}

.signup-page .confirm-popup .buttons > .cancel {
  background-color: rgb(245, 0, 45);
}

.signup-page .confirm-popup .buttons > .cancel:hover {
  background-color: rgb(205, 0, 40);
}

.signup-page .error-message {
  color: rgb(245, 0, 45);
}

.signup-page label.no-match {
  color: rgb(245, 0, 45);
}

.signup-page input.no-match {
  border: 1px solid rgb(245, 0, 45);
  background-color: rgba(245, 120, 165, .25)
}