.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-section .section-title {
  color: #0077b6;
  margin-block: 5px;
}

.features {
  margin: 45px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  padding: 48px;
  background-color: #90e0ef;
  border-radius: 10px;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #caf0f8;
  padding: 20px;
  border-radius: 8px;
}

.feature .feature-title {
  color: #0077b6;
}

.feature .feature-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-details > div {
  margin-block: 8px;
}

.feature-details .feature-description {
  font-size: 14px;
  text-align: center;
  margin-block: 20px;
}
