.newsletter-section .section-title {
  text-align: center;
  margin-block: 10px;
}

.newsletter-section form {
  width: 100%;
  display: grid;
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  padding: 45px;
  margin-inline: auto;
  width: 60%;
}

.newsletter-section form > input {
  grid-column: 1 / 3;
  padding: 10px 15px;
  margin-inline: 10px;
  border-radius: 4px;
  border: 1px solid #0077b6;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.newsletter-section form > button {
  margin-inline: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
