.all-menu {
  grid-column: 1 / 2;
  background-color: var(--secondary-color);
  height: 88vh;
  padding: 32px;
}

.all-menu.dark {
  background-color: rgb(40, 40, 40);
  color: rgb(225, 225, 225);
}

.all-menu .welcome {
  margin-bottom: 24px;
}

.application-menu .app-menu-header {
  background-color: var(--accent-color);
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.all-menu.dark .application-menu .app-menu-header {
  background-color: var(--accent-color-dark);
  color: rgb(35, 35, 35);
}

.app-menu-header > div {
  display: flex;
  align-items: center;
}

.application-menu .app-menu-title {
  font-size: 105%;
  margin-left: 5px;
}

.application-menu .app-menu-arrow {
  transform: rotate(180deg);
  transition: 250ms transform ease-in-out;
}

.application-menu .app-menu-header.collapse .app-menu-arrow {
  transform: rotate(270deg);
}

.application-menu .modules {
  list-style: none;
  margin: 8px 16px 20px 16px;
  overflow: hidden;
  transition: 250ms height ease-in-out;
}

.application-menu .module {
  padding: 2px 4px;
  border-radius: 4px;
  transition: 25ms background-color ease-in-out;
}

.application-menu .module:hover {
  background-color: rgba(0, 0, 0, .05);
}

.dark .application-menu .module:hover {
  background-color: rgba(255, 255, 255, .05);
}

.application-menu .module .module-icon {
  margin-right: 8px;
}

.application-menu .module > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.all-menu.dark .application-menu .module > a {
  color: rgb(225, 225, 225);
}

.application-menu .module > button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.all-menu.dark .application-menu .module > button {
  color: rgb(225, 225, 225);
}