.new-task-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.25);
}

.new-task-popup .new-task {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-color: white;
  padding: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.new-task-popup .open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.new-task-popup .new-task > div:not(.priority) {
  display: grid;
}

.new-task-popup .new-task > div > input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.new-task-popup .new-task > div > textarea {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.new-task-popup .new-task > .priority > div {
  margin-top: 8px;
}

.new-task-popup
  .new-task
  > .priority
  > div
  > input:not(.new-task > .priority > div > input:nth-child(1)) {
  margin-left: 24px;
}

.new-task-popup .new-task > .priority > div > label {
  margin-left: 8px;
}

.new-task-popup .new-task > .create-task {
  margin: 8px auto;
  background-color: var(--primary-color);
  padding: 4px 24px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.new-task-popup .new-task > .create-task:hover {
  background-color: var(--primary-color-hover);
}

.new-task-popup .new-task > .close-popup {
  width: fit-content;
  border: none;
  background: none;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.new-task-popup .new-task > .title {
  text-align: center;
}

.new-task-popup .new-task .new-task-project-select {
  padding: 4px 8px;
  border-radius: 4px;
}

.new-task-popup .new-task .required-field {
  color: red;
  margin-left: 4px;
}

.new-task-popup .new-task .missing-data {
  color: rgb(245, 0, 45);
  font-size: 14px;
  text-align: center;
}

.new-task-popup .new-task .disabled {
  color: rgba(45, 45, 45);
  border: darkgray 1px solid;
}
