.all-menu {
  grid-column: 1 / 2;
  background-color: var(--secondary-color);
  height: 88vh;
  padding: 32px;
}

.all-menu.dark {
  background-color: rgb(40, 40, 40);
  color: rgb(225, 225, 225);
}

.all-menu .welcome {
  margin-bottom: 24px;
}

.application-menu .app-menu-header {
  background-color: var(--accent-color);
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-menu.dark .application-menu .app-menu-header {
  background-color: var(--accent-color-dark);
  color: rgb(35, 35, 35);
}

.app-menu-header > div {
  display: flex;
  align-items: center;
}

.application-menu .app-menu-title {
  font-size: 105%;
  margin-left: 5px;
}

.application-menu .app-menu-arrow {
  transform: rotate(180deg);
}

.application-menu .modules {
  list-style: none;
  margin: 8px 16px 20px 16px;
}

.application-menu .module {
  padding-block: 2px;
}

.application-menu .module .module-icon {
  margin-right: 8px;
}

/* .application-menu .module  */

.application-menu .module > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.all-menu.dark .application-menu .module > a {
  color: rgb(225, 225, 225);
}

.application-menu .module > button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.all-menu.dark .application-menu .module > button {
  color: rgb(225, 225, 225);
}