.auth-header-container {
  background-color: var(--accent-color);
}

.auth-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  position: relative;
  padding-block: 1vh;
  height: 12vh;
}

.application-name a {
  text-decoration: none;
  color: black;
}

.auth-header .auth-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  grid-column: 2 / 5;
  width: 80%;
  margin-inline: auto;
}

.auth-header .auth-menu-item a {
  color: black;
  text-decoration: none;
}

.auth-header .search {
  position: relative;
  display: flex;
  align-items: center;
}

.auth-header .search .search-icon {
  position: absolute;
  left: 12%;
  transition: color 250ms ease-in-out;
}

.auth-header .global-search:focus + .search-icon {
  color: transparent !important;
}

.auth-header .global-search {
  width: 80%;
  margin-inline: auto;
  padding: 12px 40px;
  border: none;
  border-radius: 25px;
  color: var(--primary-color);
  transition: padding-inline 250ms ease-in-out;
}

.auth-header .global-search:focus {
  padding-inline: 24px;
}

.auth-header .global-search::placeholder {
  color: var(--primary-color);
}

.auth-header .profile-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.auth-header .profile-section::before {
  content: "3";
  position: absolute;
  top: 0;
  right: calc(50% - 32px);
  background-color: rgb(255, 0, 45);
  width: 20px;
  aspect-ratio: 1 / 1;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  line-height: 1;
}

.auth-header .profile-picture {
  height: 64px;
  border-radius: 50%;
  right: 0;
  margin-inline: auto;
  cursor: pointer;
}

.auth-header .settings {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition:
    visibility 250ms ease-in-out,
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
  position: absolute;
  bottom: -170px;
  left: 0;
  padding: 4px 8px;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.auth-header .settings.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(-30%) scale(1);
}

.auth-header .settings .triangle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  position: absolute;
  top: -10px;
  right: 40px;
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.auth-header .settings.visible .triangle {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.auth-header .settings > .settings-list {
  list-style: none;
}

.auth-header .settings > .settings-list > .setting-item {
  padding: 4px 12px;
  margin-block: 4px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
}

.auth-header .settings > .settings-list > .setting-item > .logout-button {
  cursor: pointer;
}

.auth-header .settings > .settings-list > .setting-item span {
  margin-left: 8px;
}

.auth-header .settings > .settings-list > .setting-item a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
