.global-search-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .25);
  z-index: 5;
  top: 0;
  left: 0;
}

.dashboard-container .global-search,
.container .global-search {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.95);
  width: 50%;
  height: 60vh;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 16px 32px;
}

.dashboard-container .global-search > .close-global-search,
.container .global-search > .close-global-search {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.dashboard-container .global-search > .global-search-header,
.container .global-search > .global-search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.dashboard-container .global-search > .global-search-body,
.container .global-search > .global-search-body {
  overflow-y: auto;
  height: 90%;
}

.dashboard-container .global-search > .global-search-body .empty-body,
.container .global-search > .global-search-body .empty-body {
  padding: 24px;
  font-size: 14px;
}

.dashboard-container .global-search-header > .global-search-input,
.container .global-search-header > .global-search-input {
  padding: 8px 24px;
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  width: 40%;
  margin-block: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
  font-size: 16px;
}

.dashboard-container .global-search .projects,
.dashboard-container .global-search .tasks,
.container .global-search .projects,
.container .global-search .tasks {
  display: grid;
  gap: 16px;
  margin: 16px;
  padding-inline: 4px;
  background-color: white;
}

.dashboard-container .global-search .projects > .project-found,
.dashboard-container .global-search .tasks > .task-found,
.container .global-search .projects > .project-found,
.container .global-search .tasks > .task-found {
  position: relative;
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 8px;
}

.dashboard-container .global-search .tasks > .task-found:nth-child(odd),
.container .global-search .tasks > .task-found:nth-child(odd) {
  background-color: var(--accent-color);
}

.dashboard-container .global-search .tasks > .task-found:nth-child(even),
.container .global-search .tasks > .task-found:nth-child(even) {
  background-color: var(--secondary-color);
}

.dashboard-container .global-search .project-found > .project-header,
.dashboard-container .global-search .task-found > .task-header,
.container .global-search .project-found > .project-header,
.container .global-search .task-found > .task-header {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.dashboard-container .global-search .project-found .project-name,
.dashboard-container .global-search .task-found .task-name,
.container .global-search .project-found .project-name,
.container .global-search .task-found .task-name {
  display: flex;
  align-items: center;
}

.dashboard-container .global-search .project-found .project-name > a,
.dashboard-container .global-search .task-found .task-name > a,
.container .global-search .project-found .project-name > a,
.container .global-search .task-found .task-name > a {
  color: var(--primary-color);
}

.dashboard-container .global-search .project-found .project-icon,
.dashboard-container .global-search .task-found .task-icon,
.container .global-search .project-found .project-icon,
.container .global-search .task-found .task-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.dashboard-container .global-search .task-found .task-header > .task-info,
.container .global-search .task-found .task-header > .task-info {
  display: flex;
}

.dashboard-container .global-search .project-found .project-state,
.dashboard-container .global-search .task-found .task-state,
.dashboard-container .global-search .task-found .task-priority,
.container .global-search .project-found .project-state,
.container .global-search .task-found .task-state,
.container .global-search .task-found .task-priority {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding-inline: 12px;
  border-radius: 16px;
  font-size: 12px;
  margin-left: 8px;
}

.dashboard-container .global-search .task-found .high,
.container .global-search .task-found .high {
  background-color: rgb(255, 165, 165);
}

.dashboard-container .global-search .task-found .medium,
.container .global-search .task-found .medium {
  background-color: rgb(255, 200, 165);
}

.dashboard-container .global-search .task-found .low,
.container .global-search .task-found .low {
  background-color: rgb(85, 180, 245);
}

.dashboard-container .global-search .task-found .task-priority > .icon,
.container .global-search .task-found .task-priority > .icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.dashboard-container
  .global-search
  .project-found
  .project-header
  > .not-started,
.container .global-search .project-found .project-header > .not-started {
  background-color: rgba(245, 0, 45, 0.25);
}

.dashboard-container .global-search .task-found .task-header .to-do,
.container .global-search .task-found .task-header .to-do {
  background-color: rgb(245, 160, 180);
}

.dashboard-container
  .global-search
  .project-found
  .project-header
  > .in-progress,
.container .global-search .project-found .project-header > .in-progress {
  background-color: rgba(245, 120, 45, 0.25);
}

.dashboard-container .global-search .task-found .task-header .doing,
.container .global-search .task-found .task-header .doing {
  background-color: rgb(120, 200, 245);
}

.dashboard-container .global-search .project-found .project-header > .completed,
.container .global-search .project-found .project-header > .completed {
  background-color: rgba(0, 200, 120, 0.25);
}

.dashboard-container .global-search .task-found .task-header .done,
.container .global-search .task-found .task-header .done {
  background-color: rgb(80, 245, 165);
}

.dashboard-container .global-search .project-found .project-state > .state,
.dashboard-container .global-search .task-found .task-state > .state,
.container .global-search .project-found .project-state > .state,
.container .global-search .task-found .task-state > .state {
  display: inline-block;
  width: 8px;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  margin-right: 8px;
}

.dashboard-container
  .global-search
  .project-found
  .project-state
  > .not-started,
.container .global-search .project-found .project-state > .not-started {
  background-color: rgb(245, 45, 80);
}

.dashboard-container .global-search .task-found .task-state > .to-do,
.container .global-search .task-found .task-state > .to-do {
  background-color: rgb(245, 45, 80);
}

.dashboard-container
  .global-search
  .project-found
  .project-state
  > .in-progress,
.container .global-search .project-found .project-state > .in-progress {
  background-color: rgb(255, 125, 80);
}

.dashboard-container .global-search .task-found .task-state > .doing,
.container .global-search .task-found .task-state > .doing {
  background-color: rgb(45, 160, 225);
}

.dashboard-container .global-search .project-found .project-state > .completed,
.container .global-search .project-found .project-state > .completed {
  background-color: rgb(45, 200, 120);
}

.dashboard-container .global-search .task-found .task-state .done,
.container .global-search .task-found .task-state .done {
  background-color: rgb(45, 200, 120);
}

.dashboard-container .global-search .task-found .task-body,
.dashboard-container .global-search .project-found .project-body,
.container .global-search .task-found .task-body,
.container .global-search .project-found .project-body {
  font-size: 13px;
  margin: 8px;
}

.dashboard-container .global-search .projects > .no-projects-found,
.dashboard-container .global-search .tasks > .no-tasks-found,
.container .global-search .projects > .no-projects-found,
.container .global-search .tasks > .no-tasks-found {
  font-size: 14px;
}
