.profile-menu {
  height: 88vh;
  background-color: var(--secondary-color);
  padding: 24px 32px;
}

.profile-menu .profile-menu-section {
  margin-bottom: 18px;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
}

.profile-menu-section .profile-menu-title {
  font-size: 105%;
}

.profile-menu-section > .modules {
  list-style: none;
  margin: 8px 16px;
}

.profile-menu-section .modules > .module {
  margin-block: 4px;
  padding: 4px 8px;
}

.profile-menu-section .modules > .module > span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-menu-section .modules > .module > span > svg {
  margin-left: 8px;
}

.profile-menu-section .modules > .selected-module {
  font-weight: 600;
}

.profile-menu-section .modules .module {
  position: relative;
}

.profile-menu-section .modules .module::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  width: 3px;
  aspect-ratio: 1 / 1;
  border-radius: 1.5px;
  z-index: 5;
  background-color: rgb(25, 180, 65);
  transition: width 50ms ease-in-out;
}

.profile-menu-section .modules > .selected-module::before {
  width: 6px;
  border-radius: 3px;
  background-color: rgb(45, 245, 120);
}