.projects-page.dark {
  background-color: rgb(35, 35, 35);
}

.projects-page.dark .container {
  height: 88vh;
}

.projects-page .projects.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.projects-page .projects.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.projects-page .projects.grid > .project {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  height: 180px;
  position: relative;
  transition:
    transform 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.projects-page.dark .projects.grid > .project {
  background-color: rgb(45, 45, 45);
  color: rgb(225, 225, 225);
  box-shadow: 2px 2px 4px rgba(245, 245, 245, 0.25);
  border: 2px solid var(--secondary-color-dark)
}

.projects-page .projects.list > .project {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition:
    transform 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
  margin-block: 8px;
}

.projects-page.dark .projects.list > .project {
  background-color: rgb(45, 45, 45);
  border: 2px solid var(--secondary-color-dark);
  color: rgb(225, 225, 225);
  box-shadow: 2px 2px 4px rgba(245, 245, 245, 0.25);
}

/* .projects-page .projects.list > .project .project-properties {
  display: flex;
} */

.projects-page .projects.list > .project .project-properties > div {
  display: flex;
}

.projects-page .projects.list .project-properties > div .property-value {
  margin-left: 8px;
}

.projects-page .projects.grid > .project:hover {
  transform: scale(1.05) rotate(-0.5deg);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.projects-page.dark .projects.grid > .project:hover {
  box-shadow: 4px 4px 8px rgba(245, 245, 245, 0.25);
}

.projects-page .projects.list > .project:hover,
.projects-page .projects .kanban-board .project:hover {
  transform: scale(1.025);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.projects-page.dark .projects.list > .project:hover {
  box-shadow: 4px 4px 8px rgba(245, 245, 245, 0.25);
}

.projects-page .projects.grid > .deleting-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 45, 80);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  height: 180px;
  transform: scale(1.05) rotate(-0.5deg);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.projects-page .projects.list > .deleting-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 45, 80);
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.25);
  height: 60px;
}

.projects-page .projects.grid .project > .project-header {
  display: flex;
  align-items: center;
}

.projects-page .projects.grid .project > .project-header > .project-name {
  margin-left: 8px;
}

.projects-page .project > .project-body {
  font-size: 14px;
  margin-top: 12px;
}

.projects-page .project .project-body .value {
  display: flex;
  align-items: center;
}

.projects-page .project > .project-body td:nth-child(2) {
  width: fit-content;
}

.projects-page .project > .updated {
  position: absolute;
  font-size: 12px;
  align-self: flex-end;
}

.projects-page .projects.grid > .project .updated {
  bottom: 4px;
  right: 16px;
}

.projects-page .projects.list > .project .updated {
  font-size: 11px;
  width: fit-content;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-page .project .project-actions {
  position: absolute;
  display: flex;
  gap: 4px;
  top: -12px;
  right: -12px;
}

.projects-page .project .project-actions > button:not(.open) {
  /* border: 2px solid var(--primary-color); */
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out,
    background 250ms ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.projects-page .project .project-actions > .start-project {
  padding: 2px;
}

.projects-page .project .project-actions > .reset-project {
  padding: 2px
}

.projects-page .project .project-actions > .start-project {
  padding: 2px
}

.projects-page .project .project-actions > .complete-project {
  padding: 1px
}

.projects-page.dark .project .project-actions > button:not(.open) {
  background-color: rgb(35, 35, 35);
  box-shadow: 1px 1px 4px rgba(225, 225, 225, .25);
}

.projects-page .projects .project:hover button:not(.open) {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.projects-page .projects .project:hover button:not(.open):hover {
  transform: scale(0.98);
  background-color: rgb(245, 245, 245);
}

.projects-page.dark .projects .project:hover button:not(.open):hover {
  background-color: rgb(45, 45, 45);
}

.no-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.projects.grid > .loading-new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.projects.list .loading-new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.projects .project > .open-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* justify-content: center;
  align-items: center; */
  border-radius: 8px;
  background-color: rgba(45, 45, 45, 0.1);
}

.projects-page.dark .projects .project > .open-project {
  background-color: rgba(245, 245, 245, .1);
}

.projects .project:hover > .open-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .project > .open-project > button {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out,
    background 250ms ease-in-out;
  cursor: pointer;
}

.projects .project:hover > .open-project > .visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotate(0.5deg);
}

.projects .project:hover > .open-project > button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(0.98) rotate(0.5deg);
}

.projects-page .projects .project .state-value {
  padding: 0 8px;
  border-radius: 12px;
}

.projects-page .projects .project .not-started-value {
  background-color: rgba(245, 0, 45, 0.25);
}

.projects-page.dark .projects .project .not-started-value {
  background-color: rgba(245, 0, 45, 0.5);
}

.projects-page .projects .project .in-progress-value {
  background-color: rgba(245, 120, 45, 0.25);
}

.projects-page.dark .projects .project .in-progress-value {
  background-color: rgba(245, 120, 45, 0.5);
}

.projects-page .projects .project .completed-value {
  background-color: rgba(0, 200, 120, 0.25);
}

.projects-page.dark .projects .project .completed-value {
  background-color: rgba(0, 200, 120, 0.5);
}

.projects-page .projects .project span.state {
  display: inline-block;
  width: 10px;
  aspect-ratio: 1 / 1;
  margin-right: 4px;
  border-radius: 5px;
}

.projects-page .projects .project .not-started {
  background-color: rgb(245, 0, 45);
}

.projects-page .projects .project .in-progress {
  background-color: rgb(245, 120, 45);
}

.projects-page .projects .project .completed {
  background-color: rgb(0, 200, 120);
}

.projects-page .kanban-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.projects-page .kanban-board .kanban-column {
  padding: 8px 8px 24px 8px;
  border-radius: 16px;
  height: fit-content;
}

.projects-page .kanban-board > div:nth-child(1) {
  background-color: rgba(245, 0, 45, 0.2);
}

.projects-page.dark .kanban-board > div:nth-child(1) {
  background-color: rgba(245, 0, 45, 0.45);
}

.projects-page .kanban-board > div:nth-child(2) {
  background-color: rgba(245, 120, 45, 0.2);
}

.projects-page.dark .kanban-board > div:nth-child(2) {
  background-color: rgba(245, 120, 45, 0.45);
}

.projects-page .kanban-board > div:nth-child(3) {
  background-color: rgba(0, 200, 120, 0.2)
}

.projects-page.dark .kanban-board > div:nth-child(3) {
  background-color: rgba(0, 200, 120, 0.45)
}

.projects-page .kanban-board .projects-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.projects-page .kanban-column .kanban-header {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  justify-self: center;
  padding-block: 16px;
  border-radius: 8px;
  margin-block: 16px;
  height: 48px;
}

.projects-page .kanban-column .kanban-header .count {
  position: absolute;
  background-color: white;
  color: black;
  width: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
}

.projects-page .kanban-board .not-started {
  background-color: rgb(245, 45, 80);
}

.projects-page.dark .kanban-board .not-started {
  background-color: rgb(220, 25, 65);
}

.projects-page .kanban-board .in-progress {
  background-color: rgb(255, 125, 80);
}

.projects-page.dark .kanban-board .in-progress {
  background-color: rgb(225, 110, 65);
}

.projects-page .kanban-board .completed {
  background-color: rgb(45, 200, 120);
}

.projects-page .kanban-board .completed {
  background-color: rgb(35, 185, 100);
}

.projects-page .kanban-board .project {
  position: relative;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  justify-self: center;
  background-color: white;
  padding: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition:
    transform 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.projects-page.dark .kanban-board .project {
  background-color: rgb(45, 45, 45);
  color: rgb(225, 225, 225);
}

.projects-page .kanban-board .project > .project-header {
  display: flex;
  align-items: center;
  padding-inline: 16px;
}

.projects-page .kanban-board .project .project-icon {
  display: flex;
  align-items: center;
}

.projects-page .kanban-board .project .project-name {
  margin-left: 8px;
}

.projects-page .kanban-board .project > .project-body {
  width: 80%;
  margin-inline: auto;
  margin-block: 16px;
}

.projects-page .kanban-board .project > .updated {
  position: absolute;
  bottom: 4px;
  right: 16px;
}