.projects-page .projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.projects-page .projects > .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  height: 180px;
}

.projects-page .project > .project-header {
  display: flex;
  align-items: center;
}

.projects-page .project > .project-header > .project-name {
  margin-left: 8px;
}

.projects-page .project > .project-body {
  font-size: 14px;
}

.projects-page .project > .project-body td:nth-child(2) {
  width: 60%;
}

.projects-page .project > .updated {
  font-size: 12px;
  align-self: flex-end;  
}