header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding-block: 10px;
}

.app-name a {
  text-decoration: none;
  color: black;
}

ul.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  grid-column: 2 / 5;
  margin-inline: 25px;
}

ul.menu li a {
  text-decoration: none;
  color: black;
}

.auth-section {
  display: flex;
  justify-content: center;

}

.auth-section a {
  margin-inline: 20px;
  text-decoration: none;
}

.workspace {
  display: inline;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 4px 16px;
  border-radius: 6px;
  transition: background-color 250ms ease-in-out;
}

.workspace:hover {
  background-color: var(--primary-color-hover);
}

.auth-section .signin-button {
  color: #0077B6;
}

.auth-section .signup-button {
  color: black;
}