.task-page .task > .task-header {
  display: flex;
  align-items: center;
  margin-block: 24px;
  justify-content: space-between;
}

.task-page .task > .task-header > div {
  display: flex;
  align-items: center;
}

.task-page .task > .task-header .task-state {
  margin-left: 16px;
  border-radius: 24px;
  padding: 2px 12px;
}

.task-page .task > .task-header .to-do-state {
  background-color: rgb(245, 160, 180);
}

.task-page .task > .task-header .doing-state {
  background-color: rgb(120, 200, 245);
}

.task-page .task > .task-header .done-state {
  background-color: rgb(80, 245, 165);
}

.task-page .task .task-header .state {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  margin-right: 4px;
}

.task-page .task .task-header .to-do {
  background-color: rgb(245, 0, 45);
}

.task-page .task .task-header .doing {
  background-color: rgb(45, 160, 225);
}

.task-page .task .task-header .done {
  background-color: rgb(0, 200, 120);
}

.task-page .task > .task-body span:not(.priority-label, .priority-value) {
  display: inline-block;
  margin-top: 16px;
}

.task-page .task-body .task-short-description,
.task-page .task-body .task-description.visible {
  margin-top: 4px;
  padding: 8px 16px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.task-page .task-body .editing-short-description {
  margin-top: 4px;
  display: flex;
}

.task-page
  .task-body
  .editing-short-description
  > .editing-short-description-input {
  padding: 8px 16px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 90%;
}

.task-page .task-body .editing-short-description > .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.task-page .task-body .editing-short-description > .buttons > input {
  padding: 4px 8px;
  height: 80%;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.task-page .task-body .editing-short-description > .buttons > input:hover {
  transform: scale(0.99);
}

.task-page .task-body .task-description {
  margin-bottom: 32px;
}

.task-page .task-body > div:not(.task-info) {
  position: relative;
}

.task-page .task-body > div:not(.task-info) > div > .edit {
  position: absolute;
  top: 12px;
  right: 8px;
  border: 1px solid var(--primary-color);
  padding: 2px 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.task-page .task-body > div:not(.task-info):hover > div > .edit {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.task-page .task-body > div:not(.task-info) > div > .edit:hover {
  transform: scale(0.98);
}

.task-page .task > .task-header .task-actions > button {
  border: 1px solid var(--primary-color);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition:
    background 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.task-page .task > .task-header .task-actions > button:hover {
  background-color: rgb(235, 235, 235);
  transform: scale(0.98);
}

.task-page .task > .task-header .task-actions button > span {
  margin-left: 8px;
}

.task-page .task > .task-header .task-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
}

.task-page .task .links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  color: var(--primary-color);
  transition: transform 250ms ease-in-out;
  margin-left: 8px;
}

.task-page .task .links a:hover {
  transform: translateX(-8px);
  padding-right: 8px;
}

.task-page .task .links a > span {
  margin-left: 8px;
}

.task-page .task .task-body > .task-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.task-page .task .task-header > .left .task-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.task-page .task .task-body .task-info .left {
  display: flex;
  gap: 16px;
}

.task-page .task .task-info .priority {
  display: flex;
  align-items: center;
}

.task-page .task .task-info .priority > .priority-label {
  margin-right: 8px;
}

.task-page .task .task-info .priority > .priority-value {
  display: flex;
  align-items: center;
  /* margin-left: 8px; */
  gap: 8px;
  background-color: rgba(200, 200, 200, .25);
  padding-inline: 8px;
  border-radius: 10px;
}
