.app-header {
  background-color: var(--accent-color);
  height: 100px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.profile-picture::before {
  content: "3";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-75%, 0%);
  width: 16px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--default-red);
  color: white;
  z-index: 10;
}